<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
                    
                    <!-- Always put a id with employee selected -->
                    <input type="hidden" name="_id" [(ngModel)]="selectedEmployee._id">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Enter your name" 
                        [(ngModel)]="selectedEmployee.name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="position" placeholder="Enter your position"
                        [(ngModel)]="selectedEmployee.position">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="office" placeholder="Enter your office"
                        [(ngModel)]="selectedEmployee.office">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="salary" min="0" maxlength="10" placeholder="Enter your salary"
                        [(ngModel)]="selectedEmployee.salary">
                    </div>
                    <button type="button" class="btn btn-primary btn-sm mr-2" (click)="resetForm(employeeForm)">Clean</button>
                    <button type="submit" class="btn btn-secondary btn-sm">Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Salary</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.position}}</td>
                    <td>{{employee.office}}</td>
                    <td>{{employee.salary}}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm" (click)="editEmployee(employee)">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteEmployee(employee._id)">Delete</button> 
                    </td>
                </tr>
            </tbody>
        </div>
    </div>
</div>
